body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px; /* Ajuste conforme necessário */
    margin-right: 20px;
}

.header-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.header-info input,
.header-info select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    margin-bottom: 20px;
}

.checklist-container {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inspection-item {
    margin-bottom: 15px;
}

.inspection-actions {
    display: flex;
    align-items: center;
}

.motivo-nao-conforme {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.logo {
    width: 50px; /* Tamanho do logotipo */
    margin-right: auto; /* Margem à direita do logotipo */
}